<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>お問い合わせフォーム</title>
</head>
<body>
	<h1>お問い合わせフォーム</h1>
<form th:action="@{/confirm}" th:object="${contactForm}" method="post">
    <div>
        <label>お名前：</label>
        <input type="text" th:field="*{name}" />
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:red;"></div>
    </div>
    <div>
        <label>メールアドレス：</label>
        <input type="email" th:field="*{email}" />
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color:red;"></div>
    </div>
    <div>
        <label>お問い合わせ内容：</label><br>
        <textarea cols="30" rows="10" th:field="*{message}"></textarea>
        <div th:if="${#fields.hasErrors('message')}" th:errors="*{message}" style="color:red;"></div>
    </div>
    <button type="submit">確認</button>
</form>

</body>
</html>